.main{
    width: 80%;
    font-size: 14px;
}

.nameTable {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.baseLayout {
    width: 100%;
    border: 1px solid darkblue;
    box-sizing: border-box;   
    border-collapse: collapse; 
    word-wrap: break-word;

}

.theadLayou{
    color: darkblue;
    background-color: lightgray;
    text-align: center;
    font-size: 18px;
}
